*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans", sans-serif;
    color: black;
}

body {
    background-color: lightsalmon;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lobster", cursive;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 5rem;
}

input,
button {
    font-family: "Open Sans", sans-serif;
    border: 2px solid black;
    border-radius: 2px;
    padding: 0.25rem;
}

button {
    background-color: black;
    color: white;
}

.checks__container {
    font-size: 1.5rem;
}