*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans", sans-serif;
    color: black;
}

body {
    background-color: lightsalmon;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lobster", cursive;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

input,
button {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 2px;
    padding: 0.25rem;
}

button {
    background-color: black;
    color: white;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 10rem;
}

.inputs__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checks__list {
    list-style: none;
    font-size: 2rem;
    text-align: center;
}